[Unit]
Description=Pistachio
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/pistachio
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target
