[Unit]
Description=Pistachio
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/bin/pistachio

[Install]
WantedBy=multi-user.target
